<div class="register-page">
  <div class="content px20">
    <!-- <form class="register-form" #myForm="ngForm" autocomplete="off" novalidate> -->
      <div class="text-center">
        <h2 class="app-name" *ngIf="step !== 4">Cadastrar</h2>
        <h2 class="app-name" *ngIf="step === 4">Cadastro Concluído</h2>
        <span *ngIf="step == 1">Informe seus dados pessoais.</span>
        <span *ngIf="step == 2">Quase lá. Agora precisamos dos dados do seu curso.</span>
        <span *ngIf="step == 3">Escolha uma senha segura de no máximo 6 dígitos.</span>
      </div>
      <div fxLayout="row" id="firstStep" [hidden]="step !== 1">
        <form #myForm="ngForm" [formGroup]="firstStep" autocomplete="off" novalidate>
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput formControlName="nome" placeholder="Nome" id="nome" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput formControlName="celular" [textMask]="{mask: mask}" type="text" placeholder="Celular" id="celular" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo" [(value)]="sexo" id="sexo" required>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Feminino</mat-option>
                <mat-option value="O">Outros</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput formControlName="dt_nascimento" [matDatepicker]="dt_nascimento" placeholder="Data de nascimento" required>
              <mat-datepicker-toggle matSuffix [for]="dt_nascimento"></mat-datepicker-toggle>
              <mat-datepicker #dt_nascimento></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div fxLayout="row" id="secondStep" [hidden]="step !== 2">
        <form #myForm="ngForm" [formGroup]="secondStep" autocomplete="off" novalidate>
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <mat-label>Curso</mat-label>
              <mat-select formControlName="id_curso" id="id_curso">
                <mat-option *ngFor="let curso of cursos" [value]="curso.id" required>
                  {{curso.nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Fase</mat-label>
              <mat-select formControlName="fase" [(value)]="fase" id="fase" required>
                <mat-option value="1">1ª Fase</mat-option>
                <mat-option value="2">2ª Fase</mat-option>
                <mat-option value="3">3ª Fase</mat-option>
                <mat-option value="4">4ª Fase</mat-option>
                <mat-option value="5">5ª Fase</mat-option>
                <mat-option value="6">6ª Fase</mat-option>
                <mat-option value="7">7ª Fase</mat-option>
                <mat-option value="8">8ª Fase</mat-option>
                <mat-option value="9">9ª Fase</mat-option>
                <mat-option value="10">10ª Fase</mat-option>
                <mat-option value="11">11ª Fase</mat-option>
                <mat-option value="12">12ª Fase</mat-option>
                <mat-option value="13">13ª Fase</mat-option>
                <mat-option value="14">14ª Fase</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="trabalho" matInput placeholder="Trabalho" id="trabalho" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="orientador" matInput placeholder="Orientador" id="orientador" required>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div fxLayout="row" id="thirdStep" [hidden]="step !== 3">
        <form #myForm="ngForm" [formGroup]="thirdStep" autocomplete="off" novalidate>
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput formControlName="email" type="email" placeholder="Email" id="email" required>
              <mat-error *ngIf="error && error.path === 'email'">
                {{error.message}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="password" matInput type="password" placeholder="Senha" id="password" maxlength="6" required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="passwordConfirm" matInput type="password" placeholder="Confirmar senha" id="passwordConfirm" maxlength="6" required>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div fxLayout="row" id="lastStep" [hidden]="step !== 4">
        <div fxFlexFill>
          <span *ngIf="usuario">
            Seu cadastro com o email <b>{{usuario.email}}</b> foi concluído com sucesso!
            <a [routerLink]="['/login']">Clique aqui para ser redirecionado para página de login.</a>
          </span>
        </div>
      </div>
      <div fxLayout="column" class="cadastrar" *ngIf="step !== 4">
        <a [routerLink]="['/login']">Já possuo uma conta.</a>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutAlign="start">
            <button mat-raised-button color="primary" (click)="previousStep()" *ngIf="step > 1 && step < 4">Anterior</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary"
                  (click)="nextStep()" *ngIf="step < 3"
                  fxLayoutAlign="end"
                  [disabled]="steps[this.step - 1] && steps[this.step - 1].invalid">
                  Próximo
          </button>
          <button mat-raised-button color="primary"
                  (click)="createUser()"
                  *ngIf="step == 3"
                  [disabled]="steps[this.step - 1] && steps[this.step - 1].invalid">
                  Concluir
          </button>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>
