.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.body {
  padding: 10px;
}
.table-data {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
}

mat-list {
  overflow: auto;
  height: 400px;
  width: 100%;
}

table {
  width: 100%;
}

.consumo {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}
