<div fxLayout="row" fxLayoutAlign="space-between">
  <h1>
    Horários
  </h1>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="primary" (click)="saveUpdateDialog()">
      <mat-icon>
        add
      </mat-icon>
      Novo horário
    </button>
  </div>
</div>
<div>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          Domingo
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
          <span>
            <b>Não há horários cadastrados.</b>
          </span>
          </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Segunda-Feira
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
          <span>
            09:00 às 12:00 - 40 Minutos - Bloco XXI - Sala 002
          </span>
          <button mat-button color="warn">
              <mat-icon>
                delete
              </mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="space-between center">
          <span>
            13:00 às 17:00 - 40 Minutos - Bloco XXI - Sala 002
          </span>
            <button mat-button color="warn">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
          </div>
          <mat-divider></mat-divider>
          <div fxLayoutAlign="space-between center">
            <span>
              20:00 às 22:00 - 40 Minutos - Bloco XXI - Sala 002
            </span>
              <button mat-button color="warn">
                  <mat-icon>
                    delete
                  </mat-icon>
                </button>
            </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Terça-Feira
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
        <span>
          09:00 às 12:00 - 40 Minutos - Bloco XXI - Sala 002
        </span>
        <button mat-button color="warn">
            <mat-icon>
              delete
            </mat-icon>
          </button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayoutAlign="space-between center">
        <span>
          13:00 às 17:00 - 40 Minutos - Bloco XXI - Sala 002
        </span>
          <button mat-button color="warn">
              <mat-icon>
                delete
              </mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="space-between center">
          <span>
            20:00 às 22:00 - 40 Minutos - Bloco XXI - Sala 002
          </span>
            <button mat-button color="warn">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
          </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Quarta-Feira
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
          <span>
            <b>Não há horários cadastrados.</b>
          </span>
          </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Quinta-Feira
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
          <span>
            <b>Não há horários cadastrados.</b>
          </span>
          </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Sexta-Feira
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
        <span>
          09:00 às 12:00 - 40 Minutos - Bloco XXI - Sala 002
        </span>
        <button mat-button color="warn">
            <mat-icon>
              delete
            </mat-icon>
          </button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayoutAlign="space-between center">
        <span>
          13:00 às 17:00 - 40 Minutos - Bloco XXI - Sala 002
        </span>
          <button mat-button color="warn">
              <mat-icon>
                delete
              </mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="space-between center">
          <span>
            20:00 às 22:00 - 40 Minutos - Bloco XXI - Sala 002
          </span>
            <button mat-button color="warn">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
          </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Sábado
      </mat-expansion-panel-header>
      <div fxLayoutAlign="space-between center">
          <span>
            <b>Não há horários cadastrados.</b>
          </span>
          </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
