<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'router'" [count]="hidrometrosAtivos" [label]="'Hidrômetros Ativos'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'router'" [count]="hidrometrosInativos" [label]="'Hidrômetros Inativos'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'people'" [count]="usuarios" [label]="'Usuários'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'leaderboard'" [count]="consumoGeralMensal + '/mL'" [label]="'Consumo geral mensal'"></app-stat>
  </div>
</div>
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
  <mat-card fxFlex="100" heigth="100px">
    <mat-card-header>
      <mat-card-title>Consumo Geral {{meses[date.getMonth()]}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart  height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </mat-card-content>
  </mat-card>
  <!-- <app-donut-chart fxFlex.gt-sm="49" class="mb15"></app-donut-chart>
  <app-radar-chart fxFlex.gt-sm="49" class="mb15"></app-radar-chart>
  <app-pie-chart fxFlex.gt-sm="49" class="mb15"></app-pie-chart> -->
  <!-- <app-line-chart fxFlex.gt-sm="100" class="mb15"></app-line-chart> -->
  <!-- <app-polar-chart fxFlex.gt-sm="49" class="mb15"></app-polar-chart> -->
</div>

<!-- <div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px">
  <mat-card fxFlex *ngFor="let item of places">
    <img mat-card-image [src]="item.imgSrc">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">{{item.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{item.charge}}</button>
      <button mat-button>
        <mat-icon class="location-icon">location_on</mat-icon> {{item.location}}
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
